  .addmemberinput[type=text]{
    font-family: 'Playfair Display', serif;
    padding: 10px 0px;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: white;
    font-size: 15px;
    width: 210px;
  }
  
  .addmemberbutton{
    padding: 15px 30px;
    border: 2px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
  }
  
  .addmemberbox {
    position: absolute;
    float: left;
    padding: 15px 0px 15px 15px;
    background: #80808080;
    border-radius: 10px;
  }
  
  .addmemberclose {
    position: relative;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
  }
  
  .addmemberclose:hover,
  .addmemberclose:focus {
    color: red;
    cursor: pointer;
  }
  
  .container {
    padding: 16px;
  }
  
  
  .addmembermodal {
    display: none;
    position: relative;
    float: left;
    left: 120px;
    top: 20px;
  }
  
  .addmembercheckbutton {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    width: auto;
    border: none;
    padding: 10px 18px;
    margin: 15px 0 0 110px;
    
  }
  ::placeholder {
    color:white;
    font-size: 15px;
  }
  
  label {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }